<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.neusoft.demo.mapper.RegisterNumberMapper">


    <!--注册用户-->
    <insert id="setRegisterNum" >
        insert into register_number(
            USER_NAME,

            REG_NUMBER,
            CREATE_TIME
        )
        values(
            #{userName},

            #{rgNumber},
            now()
        )
    </insert>


    <select id="getMaxRgNum" resultType="Integer" >


            select
            IFNULL ( max(REG_NUMBER),0) AS 'maxRegNum'
            from
            register_number
            where
            ID != ""
            AND
                #{endDate}  >= CREATE_TIME

            and
                CREATE_TIME >=    #{startDate}




    </select>


    <select id="getRegisterNum" resultMap="MEmpDtlMap" parameterType="edu.neusoft.demo.entity.RegisterNumber">
        SELECT
        *
        FROM register_number
        where
        ID !=""
        and

        <if test="endDate != null or endDate !='' ">
            #{endDate}  >= CREATE_TIME
        </if>

        and
        <if test="startDate != null or startDate !='' ">
            CREATE_TIME >=    #{startDate}
        </if>
        ORDER BY REG_NUMBER
    </select>

    <select id="getUserRegInfo" resultMap="MEmpDtlMap" parameterType="edu.neusoft.demo.entity.RegisterNumber">
        SELECT
        *
        FROM
        register_number
        where
        CREATE_TIME = (
            select
                max(CREATE_TIME)
                from register_number
                where
                ID !=""
                and
                <if test="userName != null or userName !='' ">
                    USER_NAME =  #{userName}
                </if>

                and
                <if test="endDate != null or endDate !='' ">
                    #{endDate}  >= CREATE_TIME
                </if>

                and
                <if test="startDate != null or startDate !='' ">
                    CREATE_TIME >=    #{startDate}
                </if>
            )


    </select>

    <resultMap id="MaxRgNum"   type="edu.neusoft.demo.entity.RegisterNumber">
        <result property="maxRgNumber" column="REG_NUMBER" />
        <result property="rgNumber" column="REG_NUMBER" />
    </resultMap>



    <resultMap id="MEmpDtlMap"  type="edu.neusoft.demo.entity.RegisterNumber">
        <result property="id" column="ID" />
        <result property="userName" column="USER_NAME" />
        <result property="rgNumber" column="REG_NUMBER" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="timeType" column="TIME_TYPE" />
    </resultMap>
</mapper>
